/*globales*/

body {
    font-family: Arial;
    color: #fff;
    vertical-align: baseline;
    
    
    
    
}

h1 {
    font-size: 40px;
}

p {
    font-size: 11px;
    padding-bottom: 25px;
    line-height: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}



h2 {
    font-size: 24px;
    padding-bottom: 25px;
    margin-top: 25px;

}

/*stycky footer*/

.wrap {
    display: flex;
    flex-direction: column;
    height: 100hv;
}

.stt {
    flex-grow: 1;
}








/*HEADER*/
header {
    background: #00AF1C;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    /*esto funciona en forma vertical*/
    /*align item : center alinea los elementos con refrencia al mas grande*/
    align-items: center;
}

header .logo {
    font-size: 32px;
}

header ul {
    display: flex;
}

header li {
    margin-left: 30px;
    font-size: 18px;
}








/*MAIN*/
main {
    color: black;
   /* display: flex;*/
   padding: 25px 25px 25px 25px;
   /*border: 5px solid fuchsia;*/
   
}  


figure {
    display: flex;
    justify-content: space-between;
}

img {
    width: 25%;
      
}









/*class nave*/
.nave1 {
    /*border: grey 10px solid;*/
    
    padding-top: 30px;
    margin-left: 30px;
    
}
.nave2 {
    /*border: grey 10px solid;*/
    
    padding-top: 30px;
    margin-left: 30px;
}



.nave1 li {
    padding-bottom: 25px;
    list-style: disc;
}

.nave1 li:nth-child(1){
    color: #FF0000;
}
.nave1 li:nth-child(2){
    color: #1400FF;
}
.nave1 li:nth-child(3){
    color: #D79B00;
}
.nave1 li:nth-child(4){
    color: #CCCCCC;
}

.nave2 li {
    padding-bottom: 25px;
    list-style: disc;
}

.nave2 li:nth-child(1){
    color: #AE8800;
}
.nave2 li:nth-child(2){
    color: #AE280B;
}
.nave2 li:nth-child(3){
    color: #060564;
}
.nave2 li:nth-child(4){
    color: #637300;
}






/*div*/
.columna_1 {
    display: flex;
    flex-direction: column;
    
}


textarea {
    resize: none;
}



button {
    border: solid 1px #22A900;
    width: 195px;
    height: 73px;
    background-color: #fff;
    cursor: pointer;
}
button:hover {
    border-color: grey;
}





/*FOOTER*/
footer {
    background: #00AF1C;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.foot p {
    font-size: 24px;
}
